@model Resturant_pro.Models.Category
@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class=" row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">

            <div class="border p-3 mt-4">
                
                <div class="md-3">
                    <label asp-for="Name" class="ms-2"></label>
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="md-3">
                    <label asp-for="Displayorder" class="ms-2"></label>
                    <input asp-for="Displayorder" class="form-control border-0 shadow" />
                    <span asp-validation-for="Displayorder" class="text-danger"></span>
                </div>
                <br />
                <hr />
                <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-send-plus"></i> Edit </button>
                &nbsp;
                <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary">
                    <i class="bi bi-back"></i> Back To Category
                </a>
            </div>

        </form>
    </div>
</div>


@section scripts
    {
    <partial name="_ValidationScriptsPartial" />

}